[Unit]
Description=Project Zomboid RCON Prometheus Exporter
After=network.target{{ ' ' ~ pzmonitor_after_unit if pzmonitor_after_unit else '' }}

[Service]
Type=simple
User={{ pzmonitor_user }}
Group={{ pzmonitor_group }}
ExecStart={{ pzmonitor_install_dir }}/pzmonitor
Environment=PZMONITOR_RCON_HOST={{ pzmonitor_rcon_host }}
Environment=PZMONITOR_RCON_PORT={{ pzmonitor_rcon_port }}
Environment=PZMONITOR_RCON_PASSWORD={{ pzmonitor_rcon_password }}
Environment=PZMONITOR_LISTEN_ADDR={{ pzmonitor_listen_addr }}
{% if pzmonitor_players_db %}
Environment=PZMONITOR_PLAYERS_DB={{ pzmonitor_players_db }}
{% endif %}
{% for k, v in pzmonitor_env.items() %}
Environment={{ k }}={{ v }}
{% endfor %}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
